@model Q400Calculator.Models.TakeoffData

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TakeoffData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Above20)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Above20)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flaps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flaps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
