@model Q400Calculator.Models.TakeoffData

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TakeoffData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Above20)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Above20)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flaps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flaps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.V2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.V2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
